body{
  margin: 0;
  padding: 0;
  background-color: #9dc6d8; 
  color: #fff;
  font-family: 'Averia Sans Libre', sans-serif;
}

.card {
  float: left;
  border: 1px solid black;
  width: 20%;
  margin: 2.5%;
  padding:10px;
  height: 270px;
  border-radius: 10px;
  box-sizing: border-box;
}

img {
  margin: 0 auto;
  display: inline-block;
  filter: blur(2px) grayscale(100%);
  -webkit-filter: blur(2px) grayscale(100%);
}

.links {
  text-align: center;
}

.active {
  filter: grayscale(40%);
  -webkit-filter: grayscale(40%);
}

header {
  font-size: 3em;
  text-align: center;
  padding: 20px 0;
  text-shadow: 0px 2px 2px #f2674a;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}